<section class="bh2e-class-abilities">
    <h3>Abilities</h3>
{{#each abilities as |ability id|}}
    <h4><strong>{{name}}</strong></h4>
    <div class="editor-content">{{{data.description}}}</div>
    <br>
{{/each}}
</section>
