<div class="bh2e-ability-entry">
    <h3>
        <span>{{name}}</span>
        <span>
            <a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.deleteAbility"}}">
                <i class="far fa-trash-alt bh2e-delete-item-icon" data-id="{{_id}}"></i>
            </a>
        </span>
    </h3>
    <div>
        {{{data.description}}}
    </div>
    <br>
</div>
