<div class="bh2e-background-tab bh2e-tab-content bh2e-hidden">
    <div class="bh2e-description-container">
        <h2>{{localize "bh2e.fields.headers.background"}}</h2>
        <field class="bh2e-field">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </field>
    </div>
</div>
