<div class="bh2e-creature-ability-container">
    <div class="bh2-creature-ability-action-column">
        <span>
            <a class="bh2e-action-link" href="#" title="{{localize "bh2e.fields.titles.deleteAbility"}}">
                <i class="far fa-trash-alt bh2e-delete-item-icon" data-id="{{_id}}"></i>
            </a>
        </span>
    </div>
    <div class="bh2-creature-ability-detail-column">
        <span class="bh2-creature-ability-name">&bull; {{name}}</span>
        <div class="bh2-create-ability-notes-container">
            {{{data.description}}}
        </div>
    </div>
</div>
