<div class="bh2e-toggle-collapse-widget" data-state="expanded" data-key="{{.}}">
    <i class="fas fa-caret-up bh2e-toggle-collapse-icon bh2e-collapse-icon"></i>
    <i class="fas fa-caret-down bh2e-toggle-collapse-icon bh2e-expand-icon bh2e-hidden"></i>
</div>
