<form class="{{cssClass}}" autocomplete="off">
    <div class="bh2e-ability-sheet-body">
        <section>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        </section>

        <section>
            <hr>
            <input name="name" placeholder="{{localize 'bh2e.fields.placeholders.name'}}" type="text" value="{{item.name}}"/>
            <hr>

            <field class="bh2e-field">
                <label for="system.tag" class="bh2e-label">{{localize "bh2e.fields.labels.tag"}}</label>
                <input type="text" name="system.tag" value="{{item.system.tag}}" class="bh2e-input" />
            </field>

            <field class="bh2e-field">
                <label for="system.description" class="bh2e-label">{{localize "bh2e.fields.labels.description"}}</label>
                {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </field>
        </section>
    </div>
</form>
