<form class="{{cssClass}}" autocomplete="off">
    <div class="bh2e-armour-sheet-body">
        <section>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            <hr><hr>

            <div class="bh2e-field-row">
                <label for="system.armourValue.total" class="bh2e-label">{{localize "bh2e.fields.labels.armourValue"}}</label>
                <input type="number" name="system.armourValue.total" value="{{item.system.armourValue.total}}" class="bh2e-input" />
            </div>

            <div class="bh2e-field-row bh2e-field-row-balanced">
                <label for="system.rarity" class="bh2e-label">{{localize "bh2e.fields.labels.rarity"}}</label>
                <select name="system.rarity" class="bh2e-input">
                    {{selectOptions config.rarityTypes localize=true selected=item.system.rarity}}
                </select>
            </div>
        </section>

        <section>
            <hr>
            <input name="name" placeholder="{{localize 'bh2e.fields.placeholders.name'}}" type="text" value="{{item.name}}"/>
            <hr>

            <field class="bh2e-field">
              <label for="system.description" class="bh2e-label">{{localize "bh2e.fields.labels.description"}}</label>
              {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
            </field>
        </section>
    </div>
</form>
