<form class="{{cssClass}}" autocomplete="off">
    <div class="bh2e-cs-container">
        {{> "systems/bh2e/templates/partials/attribute-details.hbs"}}

        <section class="bh2e-cs-main-body">
            <field class="bh2e-field">
                <label class="bh2e-label" for="actor.name">{{localize "bh2e.fields.labels.name"}}</label>
                <input type="text" name="name" value="{{actor.name}}" />
            </field>

            <field class="bh2e-field">
                <label class="bh2e-label" for="data.playerName">{{localize "bh2e.fields.labels.playerName"}}</label>
                <input type="text" name="data.playerName" value="{{data.playerName}}" />
            </field>

            <div class="bh2e-grid bh2e-grid-4-col">
                <field class="bh2e-field">
                    <label class="bh2e-label" for="data.className">{{localize "bh2e.fields.labels.className"}}</label>
                    <input type="text" name="data.className" value="{{data.className}}" />
                </field>

                <field class="bh2e-field">
                    <label class="bh2e-label" for="data.level">{{localize "bh2e.fields.labels.level"}}</label>
                    <input style="text-align: center;" type="number" name="data.level" value="{{data.level}}" />
                </field>

                <field class="bh2e-field">
                    <label class="bh2e-label" for="data.hitPoints.max">{{localize "bh2e.fields.labels.hitPointsMax"}}</label>
                    <input style="text-align: center;" type="number" name="data.hitPoints.max" value="{{data.hitPoints.max}}" />
                </field>

                <field class="bh2e-field">
                    <label class="bh2e-label" for="data.hitPoints.value">{{localize "bh2e.fields.labels.hitPointsValue"}}</label>
                    <input style="text-align: center;" type="number" name="data.hitPoints.value" value="{{data.hitPoints.value}}" />
                </field>
            </div>

            <div class="bh2e-grid bh2e-grid-3-col">
                <field class="bh2e-field">
                    <label for="data.hitDie" class="bh2e-label">{{localize "bh2e.fields.labels.hitDie"}}</label>
                    <select name="data.hitDie" class="bh2e-select">
                  {{#select data.hitDie}}
                  {{#each config.hitDieTypes as |label value|}}
                        <option value="{{value}}">{{localize label}}</option>
                  {{/each}}
                  {{/select}}
                    </select>
                </field>

                <field class="bh2e-field">
                    <label for="data.damageDice.armed" class="bh2e-label">{{localize "bh2e.fields.labels.armedDamage"}}</label>
                    <select name="data.damageDice.armed" class="bh2e-select">
                  {{#select data.damageDice.armed}}
                  {{#each config.damageDieTypes as |label value|}}
                        <option value="{{value}}">{{localize label}}</option>
                  {{/each}}
                  {{/select}}
                    </select>
                </field>

                <field class="bh2e-field">
                    <label for="data.damageDice.unarmed" class="bh2e-label">{{localize "bh2e.fields.labels.unarmedDamage"}}</label>
                    <select name="data.damageDice.unarmed" class="bh2e-select">
                  {{#select data.damageDice.unarmed}}
                  {{#each config.damageDieTypes as |label value|}}
                        <option value="{{value}}">{{localize label}}</option>
                  {{/each}}
                  {{/select}}
                    </select>
                </field>
            </div>

            <hr>

            <div class="bh2e-tabs-container" data-default="bh2e-basics-tab" data-key="cs.tabs.selected">
                <div class="bh2e-tab bh2e-selected-tab" data-default="true" data-tab="bh2e-basics-tab">
                    <center class="bh2e-tab-label">{{localize "bh2e.tabs.labels.basics"}}</center>
                </div>
                <div class="bh2e-tab" data-tab="bh2e-spells-tab">
                    <center class="bh2e-tab-label">{{localize "bh2e.tabs.labels.spells"}}</center>
                </div>
                <div class="bh2e-tab" data-tab="bh2e-prayers-tab">
                    <center class="bh2e-tab-label">{{localize "bh2e.tabs.labels.prayers"}}</center>
                </div>
                <div class="bh2e-tab" data-tab="bh2e-background-tab">
                    <center class="bh2e-tab-label">{{localize "bh2e.tabs.labels.background"}}</center>
                </div>
            </div>

            {{> "systems/bh2e/templates/partials/basics-tab.hbs"}}
            {{> "systems/bh2e/templates/partials/spells-tab.hbs"}}
            {{> "systems/bh2e/templates/partials/prayers-tab.hbs"}}
            {{> "systems/bh2e/templates/partials/background-tab.hbs"}}
        </section>
    </div>
</form>
