<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </header>

    <hr>

    <div class="bh2e-grid bh2e-grid-2-col">
        <field class="bh2e-field">
            <label class="bh2e-label" for="data.hitDice">{{localize "bh2e.fields.labels.hitDice"}}</label>
            <input type="number" name="data.hitDice" value="{{data.hitDice}}" class="bh2e-input" />
        </field>

        <field class="bh2e-field">
            <label class="bh2e-label" for="data.hitPoints">{{localize "bh2e.fields.labels.hitPoints"}}</label>
            <input type="number" name="data.hitPoints" value="{{data.hitPoints}}" class="bh2e-input" />
        </field>
    </div>

    <section class="bh2-creature-actions">
        <h2>{{localize "bh2e.fields.labels.attacks"}}</h2>
    {{#each actions as |action id|}}
        {{> "systems/bh2e/templates/partials/creature-attack-entry.hbs" action}}
    {{/each}}
    </section>

    <br>

    <section class="bh2-creature-abilities">
        <h2>{{localize "bh2e.fields.labels.abilities"}}</h2>
    {{#each abilities as |ability id|}}
        {{> "systems/bh2e/templates/partials/creature-ability-entry.hbs" ability}}
    {{/each}}
    </section>

    <br><hr>

    <field class="bh2e-field">
        <label for="data.description" class="bh2e-label">{{localize "bh2e.fields.labels.notes"}}</label>
        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </field>
</form>
