<form class="{{cssClass}}" autocomplete="off">
    <hr>
    <input name="name" placeholder="{{localize 'bh2e.fields.placeholders.name'}}" type="text" value="{{item.name}}"/>
    <hr>

    <div class="bh2e-creature-attack-body">
        <section>
            <div class="bh2e-field-row">
                <label class="bh2e-label" for="system.targetQuantity">{{localize "bh2e.fields.labels.targetQuantity"}}</label>
                <input name="system.targetQuantity" type="text" value="{{item.system.targetQuantity}}" class="bh2e-input"/>
            </div>

            <div class="bh2e-field-row">
                <label class="bh2e-label" for="system.damage">{{localize "bh2e.fields.labels.damage"}}</label>
                <input name="system.damage" type="text" value="{{item.system.damage}}" class="bh2e-input"/>
            </div>

            <div class="bh2e-field-row bh2e-field-row-balanced">
                <label class="bh2e-label" for="system.range">{{localize "bh2e.fields.labels.range"}}</label>
                <select name="system.range" class="bh2e-select">
                    {{selectOptions config.ranges localize=true selected=item.system.range}}
                </select>
            </div>

            <div class="bh2e-field-row bh2e-field-row-balanced">
                <label class="bh2e-label" for="system.attribute">{{localize "bh2e.fields.labels.attribute"}}</label>
                <select name="system.attribute" class="bh2e-select">
                    {{selectOptions config.attributeList localize=true selected=item.system.attribute}}
                </select>
            </div>
        </section>

        <section>
            <field class="bh2e-field">
                <h2>{{localize "bh2e.fields.labels.notes"}}</h2>
                {{editor item.system.notes target="system.notes" button=true owner=owner editable=editable}}
            </field>
        </section>
    </div>
</form>
