<form class="{{cssClass}}" autocomplete="off">
    <div class="bh2e-equipment-sheet-body">
        <section>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            <hr><hr>

            <div class="bh2e-field-row">
                <label for="data.quantity" class="bh2e-label">{{localize "bh2e.fields.labels.quantity"}}</label>
                <input type="number" name="data.quantity" value="{{data.quantity}}" />
            </div>

            <div class="bh2e-field-row bh2e-field-row-balanced">
                <label for="data.usageDie.maximum" class="bh2e-label">{{localize "bh2e.fields.labels.usageDie"}}</label>
                <select name="data.usageDie.maximum" class="bh2e-input bh2e-select">
            {{#select data.usageDie.maximum}}
              {{#each config.usageDieTypes as |label value|}}
                    <option value="{{value}}">{{localize label}}</option>
              {{/each}}
            {{/select}}
                </select>
            </div>

            <div class="bh2e-field-row bh2e-field-row-balanced">
                <label for="data.rarity" class="bh2e-label">{{localize "bh2e.fields.labels.rarity"}}</label>
                <select name="data.rarity" class="bh2e-input bh2e-select">
            {{#select data.rarity}}
              {{#each config.rarityTypes as |label value|}}
                    <option value="{{value}}">{{localize label}}</option>
              {{/each}}
            {{/select}}
                </select>
            </div>
        </section>

        <section>
            <hr>
            <input name="name" placeholder="{{localize 'bh2e.fields.placeholders.name'}}" type="text" value="{{item.name}}"/>
            <hr>


            <field class="bh2e-field">
                <label for="data.description" class="bh2e-label">{{localize "bh2e.fields.labels.description"}}</label>
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </field>
        </section>
    </div>
</form>
