<form class="{{cssClass}}" autocomplete="off">
    <div class="bh2e-spell-sheet-body">
        <section>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
            <hr><hr>

            <field class="bh2e-field">
                <label for="data.kind" class="bh2e-label">{{localize "bh2e.fields.labels.magicKind"}}</label>
                <select name="data.kind" class="bh2e-input bh2e-select">
            {{#select data.kind}}
              {{#each config.magicKinds as |label value|}}
                    <option value="{{value}}">{{localize label}}</option>
              {{/each}}
            {{/select}}
                </select>
            </field>

            <field class="bh2e-field">
                <label class="bh2e-label" for="data.level">{{localize "bh2e.fields.labels.magicLevel"}}</label>
                <input name="data.level" type="text" value="{{data.level}}" class="bh2e-input"/>
            </field>
        </section>

        <section>
            <hr>
            <input name="name" placeholder="{{localize 'bh2e.fields.placeholders.name'}}" type="text" value="{{item.name}}"/>
            <hr>

            <field class="bh2e-field">
                <label for="data.description" class="bh2e-label">{{localize "bh2e.fields.labels.description"}}</label>
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </field>
        </section>
    </div>
</form>
