<form class="{{cssClass}}" autocomplete="off">
    <div class="bh2e-weapon-sheet-body">
        <section>
            <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

            <field class="bh2e-field">
                <label for="data.kind" class="bh2e-label">{{localize "bh2e.fields.labels.weaponKind"}}</label>
                <select name="data.kind" class="bh2e-input bh2e-select">
            {{#select data.kind}}
              {{#each config.weaponKinds as |label value|}}
                    <option value="{{value}}">{{localize label}}</option>
              {{/each}}
            {{/select}}
                </select>
            </field>

            <field class="bh2e-field">
                <label for="data.size" class="bh2e-label">{{localize "bh2e.fields.labels.weaponSize"}}</label>
                <select name="data.size" class="bh2e-input bh2e-select">
            {{#select data.size}}
              {{#each config.weaponSizes as |label value|}}
                    <option value="{{value}}">{{localize label}}</option>
              {{/each}}
            {{/select}}
                </select>
            </field>

            <field class="bh2e-field">
                <label for="data.testAttribute.value" class="bh2e-label">{{localize "bh2e.fields.labels.testAttribute"}}</label>
                <select name="data.attribute" class="bh2e-input bh2e-select">
            {{#select data.attribute}}
              {{#each config.attributeList as |label value|}}
                    <option value="{{value}}">{{localize label}}</option>
              {{/each}}
            {{/select}}
                </select>
            </field>

            <field class="bh2e-field">
                <label for="data.rarity" class="bh2e-label">{{localize "bh2e.fields.labels.rarity"}}</label>
                <select name="data.rarity" class="bh2e-input bh2e-select">
            {{#select data.rarity}}
              {{#each config.rarityTypes as |label value|}}
                    <option value="{{value}}">{{localize label}}</option>
              {{/each}}
            {{/select}}
                </select>
        </section>

        <section>
            <hr>
            <input name="name" placeholder="{{localize 'bh2e.fields.placeholders.name'}}" type="text" value="{{item.name}}"/>
            <hr>

            <field class="bh2e-editor-field">
                <label for="data.description" class="bh2e-label">{{localize "bh2e.fields.labels.description"}}</label>
                {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </field>
        </section>
    </div>
</form>
